<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="DataServiceContext"  connectionString="Data Source=88.208.247.10;Initial Catalog=CHOT_DataService_systest;Persist Security Info=True;User ID=CHOT_DataService_dev;Password=Passw0rd" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="EASDBConn"              connectionString="Data Source=88.208.247.10;Initial Catalog=CatererAndHotelKeeper_systest;Persist Security Info=True;User ID=CatererAndHotelKeeper_systest;Password=Azerty2501!" />
  </connectionStrings>

  <system.web>
  </system.web>
</configuration>