<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="DataServiceContext"  connectionString="Data Source=88.208.247.10;Initial Catalog=TravelGBI_DataService_Membership_Dev;Persist Security Info=True;User ID=TravelGBI_DataService_Dev;Password=Passw0rd" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="EASDBConn"              connectionString="Data Source=88.208.247.10;Initial Catalog=TravelGBI_Dev;Persist Security Info=True;User ID=TravelGBI_Dev;Password=Passw0rd" />
  </connectionStrings>

  <system.web>
  </system.web>
</configuration>