<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="ChkDataServiceContext"  connectionString="Data Source=88.208.247.10;Initial Catalog=CHOT_DataService_dev;Integrated Security=SSPI" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" name="LegacyChk"              connectionString="Data Source=88.208.247.10;Initial Catalog=CatererAndHotelKeeper_dev;Integrated Security=SSPI" />
  </connectionStrings>
  
  <system.web>
  </system.web>
</configuration>